header {
    background-color: hsl(206, 47%, 3%);
}

.navigation {
    display: inline;
}

.navigation a:hover {
    color: hsl(340, 100%, 50%);
    text-decoration: none;
    cursor: pointer;
}

.navigation a {
    color: hsl(1, 10%, 100%);
    text-decoration: none;
}

