.content {
    background-color: hsl(192, 100%, 89%);
    display: block;
    text-align: center;
    width: 100%;
}

.content h1 {
    font-family: 'Caprasimo', serif;
    font-weight: 200;
}

.content p {
    font-family: 'Mate', serif;
}

.content a:hover {
    color: hsl(340, 100%, 50%);
    text-decoration: none;
}

body {
    margin: 0 10%;
}