header {
    background-color: rgb(224, 255, 255);
}

.navigation {
    display: inline;
}

.navigation a:hover {
    color: hsl(340, 100%, 50%);
    text-decoration: none;
}



.content {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: auto;
    background-image: url();
}

.content h1 {
    font-family: 'Caprasimo', serif;
    font-weight: 200;
}

.content p {
    font-family: 'Mate', serif;
}

.content a:hover {
    color: hsl(340, 100%, 50%);
    text-decoration: none;
}