.lightcyan {
    background-color: lightcyan;
}

.beige {
    background-color: beige;
}

.blue {
    background-color: #2d5dcc;
}

.gray {
    background-color: gray;
}

.color-container {
    display: inline-block;
    width: 32%; 
    height: 100px;
    margin: 20px auto;
    text-align: center;
}

.container {
    display: block;
    border: 3px solid gray;
    padding: 10px;
    margin: 10px auto;
}

body {
    margin: 0 10%;
}